<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.0.121:3306/control_de_Stock?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">mysqlPi2</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="Hibernate/AlbaranEntrada.hbm.xml"/>
    <mapping resource="Hibernate/AlbaranSalida.hbm.xml"/>
    <mapping resource="Hibernate/Usuarios.hbm.xml"/>
    <mapping resource="Hibernate/Destinos.hbm.xml"/>
    <mapping resource="Hibernate/DestinosProductos.hbm.xml"/>
    <mapping resource="Hibernate/Caja.hbm.xml"/>
    <mapping resource="Hibernate/Proveedor.hbm.xml"/>
    <mapping resource="Hibernate/Producto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
